*{
    margin: 0px;
}
body{
    display: flex;
    
}

.menu{
    height: 1080px;
    display: flex;
    flex-direction: column;
   width: 10%;
   background-color: #363740;
   font-size: 20px;
   text-align: center;
   color: #A4A6B3;
   padding-top: 35px;
    
}
.menu a{
    display: flex;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
    color: #A4A6B3;
}

.menu :first-child{
    margin-top: 50px;
}
.menu #a-settings{
    border-top: 1px solid grey;
}
.menu a:hover{
    background-color: #9fa2b444;
}
.main{
    display: flex;
    padding: 10px;
    background-color: #F7F8FC;
    width: 90%;
    flex-direction: initial;
}

