*{
    margin: 0px;
}
body{
    display: flex;
    
}

.menu{
    height: auto;
    display: flex;
    flex-direction: column;
   width: 13%;
   background-color: #363740;
   font-size: 20px;
   text-align: center;
   color: #A4A6B3;
   padding-top: 35px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.menu a{
    display: flex;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    color: #A4A6B3;
}

.menu :first-child{
    margin-top: 50px;
}
.menu #a-settings{
    border-top: 1px solid grey;
}
.menu a:hover{
    background-color: #9fa2b444;
}
.menu a:focus{
    background-color: #9fa2b444;
}

.main{
    display: flex;
    padding: 10px;
    background-color: #F7F8FC;
    width: 87%;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}
.maincontent{
    display: flex;
    width: 100%;
    height: 35px;
    padding: 23px;
    font-size: 22px;
    align-items: center;
    
}

.maincontent .iconos{
    display: flex;
    width: 75%;
    justify-content: flex-end;
    border-right: 1px solid #DFE0EB;
    align-items: center;
}
.maincontent .iconos a{
    margin-right: 20px;
}
.maincontent .iconos a:last-child{
    margin-right: 30px;
}


.maincontent #user-name{
    margin-left: 28px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.maincontent #img-user{
border-radius: 50%;
padding: 1px;
border: 1px solid #DFE0EB;
margin-left:  20px;
height: 40px;
width: 40px;
}
.allticket{
    margin-top: 30px;
    display: flex;
    width: 87%;
    height: 810px;
    background-color: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 1%;
    flex-direction: column;
}
.allticket #filtros {
    width: 96%;
padding: 20px;
display: flex;
justify-content: space-between;
height: 40px;
}
.allticket #filtros div {
    margin-left: 7px;
    margin-right: 7px;
    height: 20px;
    
}
.allticket #filtros #iconos{
    display: flex;
    font-size: 14px;
    text-align: center;
}
.ticketdetails{
    display: flex;
    margin-left: 0px;
    border-bottom:   1px solid #DFE0EB;
    padding-left: 30px;
}
.ticketdetails p{
    margin-left: 250px;
    font-weight: bold;
    color: #9FA2B4;
    padding-bottom: 15px;
    font-size: 14px;
}
.ticketdetails p:first-child{
    margin-left: 0px;
    margin-right: 200px;
}
